/* #dcdedd #99a2a1 #006869 #002b2c #00090a #ff8800  */



.color-block {
    height: 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}


.p1 { background-color: #ff8800; }
.p2 { background-color: #00090a; }
.p3 { background-color: #002b2c; }
.p4 { background-color: #006869; }
.p5 { background-color: #99a2a1; }
.p6 { background-color: #dcdedd; }
